/* ********* Custom Ptoperty ********** */
:root {
  --first-orange-color: #ff8a00;
  --first-primary-color: rgb(18, 25, 37);
  --first-hover-color: #c4b382;
  --first-hover-alpha-color: #c4b382bf;
  --four-primary-color: rgb(20, 25, 45);
  --pink-second-color: #d90062;
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --gray-light-color: #f3f3f3;
  --gray-stroke-light-color: #f3f3f3;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: rgb(255, 255, 255);
  --gray-color: #cccccc;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --red-error-color: #ff0000;
  --red-error-alpha-color: rgba(255, 0, 0, 0.75);
  --blue-link-color: #509ee3;
  --blue-alpha-link-color: rgba(80, 158, 227, 0.75);
  --darkgray-title-color: #333333;
  --black-text-color: #222222;
  --white-opacity-text-color: rgba(255, 255, 255, 0.5);
  --buttom-stroke-radius-color: rgba(255, 255, 255, 0.5);
  --buttom-dark-color: rgba(255, 255, 255, 0.1);
  --bg-gradient-color: linear-gradient(
    208deg,
    rgba(4, 40, 58, 0.9681372549019608) 55%,
    rgba(164, 164, 164, 1) 100%
  );
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --blue-auxiliar-color: #0b2c82;
  --blue-auxiliar-alpha-color: rgba(11, 44, 130, 0.87);
  --first-orange-alpha-color: rgba(255, 138, 0, 0.5);
  --white-dropshadow-auxiliar-color: rgba(255, 255, 255, 0.85);
  --green-auxiliar-color: rgba(8, 120, 6, 1);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ********* Reset Style ********** */
body {
  font-family: var(--font);
}

a {
  color: var(--white-color);
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--first-hover-color);
}

/* ********* Boostrap Style ********** */
.bg-dark {
  background-color: var(--first-primary-color) !important;
}

.dropdown-menu {
  background-color: var(--four-primary-color);
}

.dropdown-item {
  color: var(--white-color);
  transition: all 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: var(--first-hover-alpha-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  font-weight: bold;
}

.row {
  margin: 0;
}

/* Para que el menú del dropdown en trabajos realizados aparezca y desaparezca al hacer hover */

.dropdown-main {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-main:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: none;
}

.navbar-brand img {
  width: auto;
  height: 3rem;
}
.navbar-brand img:hover {
  opacity: 0.75;
}

.navbar-dark {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28196, 179, 130, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: var(--first-hover-color);
  color: var(--black-text-color);
  border-radius: 0.5rem;
}

.nav-link {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: var(--first-hover-color);
}

.nav-link:link,
.nav-link:visited {
  color: var(--white-color);
}

.home:hover {
  color: var(--first-hover-color);
}

.nav-link:hover {
  /* color: var(--white-color); */
  font-size: 1.3rem;
  /* font-weight: bold; */
}

/* ********* My Style ********** */

.bg-color {
  background-color: var(--white-alpha-color);
}

.bg-alpha-color {
  background-color: var(--white-dropshadow-auxiliar-color);
  border-radius: 0.5rem;
}

.bg-gradiente {
  background: rgb(4, 40, 58);
  background: linear-gradient(
    208deg,
    rgba(4, 40, 58, 0.9681372549019608) 55%,
    rgba(164, 164, 164, 1) 100%
  );
}

.bg-hero-image {
  background-image: var(--bg-image);
  width: 100%;
  max-height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-second-alpha-color {
  background-color: var(--second-alpha-color);
}

.button {
  color: var(--black-text-color);
  background-color: var(--first-hover-color);
  font-weight: bold;
  border: 0;
}

.button:hover {
  background-color: var(--first-primary-color);
  font-weight: bold;
  border: thin solid var(--first-hover-alpha-color);
  color: var(--white-color);
  transition: all 0.2s ease-in;
}

.card {
  opacity: 0.85;
  cursor: pointer;
}
.card:hover {
  opacity: 1;
  cursor: pointer;
}

.card-img {
  max-width: 500px;
  max-height: 350px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 5rem;
  background-color: var(--black-color);
  border-radius: 0.5rem;
}

.carousel-item {
  max-width: 600px;
  transition: transform 2s ease-in-out, opacity 0.5s ease-in-out;
  padding: 0 0.75rem;
}
.carousel-item:hover {
  cursor: wait;
}

.img-card-work {
  width: 400px;
  height: 300px;
}

.img-fluid-card {
  /* width: 100%;
  max-height: 25rem; */
  max-width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: 0 50%;
  border-radius: 0.5rem;
}

.main-work {
  scroll-padding-top: 250px;
}

.social-icon-button {
  position: fixed;
  bottom: 30px;
  right: 1vw;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.text-color {
  color: var(--blue-auxiliar-color);
  text-decoration: none;
}

.text-color:hover {
  color: var(--first-hover-color);
  color: var(--blue-auxiliar-color);
  color: var(--black-text-color);
  transform: scale(1.1);
  font-weight: bold;
}

.text-color:visited {
  color: var(--gray-dark-color);
}

.text-work > h5 {
  font-weight: bold;
}

.whatsapp-icon,
.instagram-icon,
.mail-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.15rem;
}

/* css to add margin when scroll to id */
.scroll-target {
  scroll-margin-top: 90px;
}

@keyframes whatsapp-icon {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

.whatsapp-icon:hover {
  animation: whatsapp-icon 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate(0, 0);
}
@keyframes instagram-icon {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

.instagram-icon:hover {
  animation: instagram-icon 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate(0, 0);
}
@keyframes mail-icon {
  10%,
  90% {
    transform: translate(-1px, 0);
  }

  20%,
  80% {
    transform: translate(2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0);
  }

  40%,
  60% {
    transform: translate(4px, 0);
  }
}

.mail-icon:hover {
  animation: mail-icon 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate(0, 0);
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.whatsapp-icon,
.mail-icon {
  animation: fadeIn 3s linear 3s infinite alternate both;
}

@keyframes fadeOut {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.instagram-icon {
  animation: fadeOut 3s linear 2s infinite alternate both;
}

/* ******* FOOTER ******* */

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-nav > a {
  text-decoration: none;
}
a > small {
  padding: 0 1rem;
}

footer h3 {
  color: var(--white-color);
  font-weight: bold;
}

.work-container {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: thin solid var(--first-hover-color);
}

/* ************************************************************ */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .p-presupuesto {
    display: flex;
    align-items: start;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .img-fluid-card {
    /* width: 100%;
  max-height: 25rem; */
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    border-radius: 0.5rem;
    padding: 0.15rem;
  }

  .work-container {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fl-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    margin-left: 0;
  }

  .nav-item:hover {
    background-color: transparent;
  }
  .nav-link:hover {
    color: var(--first-hover-color);
    font-size: 1.3rem;
    font-weight: bold;
  }

  .sub {
    position: relative;
    border: none;
    border-radius: 0.25rem;
  }

  .anim-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.15rem;
    background-color: var(--first-hover-color);
    transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
  }
  .anim-bottom:hover::after {
    width: 100%;
  }

  .to-left::after {
    left: 0;
  }
  .to-center::after {
    left: 50%;
  }
  .to-center:hover::after {
    left: 0;
  }

  .to-right::after {
    right: 0;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .bg-alpha-color {
    font-size: 1.15rem;
  }
}
